/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/

/* Imports */
@import url("pygment.css");
@import url("typogrify.css");

header nav li { display: inline;
                padding-right: .5rem; }

h1 { font-weight: 400;
     margin-top: 1.568rem;
     margin-bottom: 1.568rem;
     font-size: 2.5rem;
     line-height: 0.784; }

h2 { font-style: italic;
     font-weight: 400;
     margin-top: 1.866666666666667rem;
     margin-bottom: 0;
     font-size: 2.1rem;
     line-height: 0.933333333333333; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.8rem;
     margin-top: 2.1777777777777778rem;
     margin-bottom: 0;
     line-height: 1.08888888888889; }

article { position: relative;
          padding: 1rem 0rem 2.5rem 0rem; } // reduced top and bottom padding by 50%

hr { margin-left: 0;
     width: 75%; }

article div hr { margin-left: 0;
     width: 75%; }

article div ol li { margin-top: 0;
                 margin-bottom: 0; }

article div ol li p { padding: 0;
                      margin: 0; }

.websitetitle { font-size: 4rem;
                margin-top: 0;
                margin-bottom: 1rem; }

a.navitemlink { text-decoration: none;
                font-variant: small-caps; }


p > figure { padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         max-width: 55%;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0; }

p > figure > figcaption { float: right;
             clear: right;
             margin-right: -48%;
             margin-top: 0;
             margin-bottom: 0;
             font-size: 1.1rem;
             line-height: 1.6;
             vertical-align: baseline;
             position: relative;
             max-width: 40%; }