<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block headers %}
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <base href="{{ SITEURL }}">
  <link rel="stylesheet" type="text/css" href="/theme/tufte-css/tufte.css" />
  <link rel="stylesheet" type="text/css" href="/theme/css/main.css" />
  <link rel="shortcut icon" type="text/css" href="/favicon.ico" />
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" 
        rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
{% endblock headers %}
</head>

<body>
<header>
  <h1 class="websitetitle"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
  <nav class="navmenu" id="navmenu">
    <li><a class="navitemlink" href="{{ SITEURL }}/archives.html">Archive</a></li>
    {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES %}
    <li><a class="navitemlink" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}{% endif %}
   </nav>
 </header>
{% block content%}
{% endblock content %}
<footer>
  <p>Powered by <a href="http://pelican.readthedocs.org">Pelican</a></p>
</footer>
</body>
</html>